  <div class="container d-flex justify-content-center my-5">
    <div class="main custom-rounded">
      <h2 class="title pt-5 pb-3 ml-2 mr-auto text-center">Sign up</h2>
          <form (ngSubmit)="onSignUp(userData)" class="myform">
                <div class="row rone">
                    <div class="form-group col-md-12 fone py-3">
                        <input type="email" name="email" class="form-control" placeholder="email@gmail.com" [(ngModel)]="userData.email">
                    </div>
                </div>
                <div class="row rtwo">
                    <div class="form-group col-md-12 ffour py-3">
                        <input type="text" name="username" class="form-control lm" placeholder="Username" [(ngModel)]="userData.username">
                    </div>
                </div>
                <div class="row rthree">
                    <div class="form-group col-md-6 ffive py-3">
                        <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="userData.password">
                    </div>
                    <div class="form-group col-md-6 fsix py-3">
                        <input type="password" class="form-control" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="row rfour">
                    <div class="form-group col-md-6 fseven py-3">
                        <button type="submit" class="btn btn-primary" (click)="onSignUp(userData)" [routerLink]="'/login'"><span>Create account</span></button>
                    </div>
                    <div class="form-group col-md-6 feight py-3">
                        <p class="text-muted text-center">Already have an account?<br><a href="/login">Sign in</a></p>
                        
                    </div>
                </div>
            </form>
    </div>
</div>