.text-right.forget-pass a{
    font-size: 12px;
    color: #d39e00;
    text-decoration: none;
  }
  .sign-up{
    color: #fff;
  }
  .sign-up a{
    color: #d39e00;
    font-weight: 600;
    text-decoration: none;
  }