<app-nav-bar></app-nav-bar>
<body>
<div class="container">
  <div class="row">
    <div class="col-12 px-0" style="background-image: url(../../../assets/image/wood.png);">
      <h2 class="section-headline"><span>Book List</span></h2>
      <img src="../../../assets/image/logo.png" class="rounded float-left" style="padding: 0%; z-index:1;" />
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row d-flex justify-content-between px-0">
      <div class="col-md-6 px-0 custom-class">
        <form (ngSubmit)="onSearchByTitle()" class="form-inline w-100 ml-n5">
          <div class="form-group w-100">
            <input type="text" name="searcyByTitle" [(ngModel)]="keyword" class="form-control w-75" placeholder="Book Title" />
            <button type="submit" class="btn btn-outline-success">Search</button>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-end px-0 custom-class-right">
        <input [(ngModel)]="category" class="form-control w-75" placeholder="Enter category">
        <button  (click)="onFilterByCategory()" type="button" class="btn btn-success">Search</button>
      </div>
      <div class="btn-group sort-class-right" ngbDropdown>
        <button type="button" class="btn btn-danger" id="dropdownBasic1" ngbDropdownToggle>Sort by</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="onSortChange('')">Select Option</button>
          <button ngbDropdownItem (click)="onSortChange('ourPrice,asc')">Price Ascending</button>
          <button ngbDropdownItem (click)="onSortChange('ourPrice,desc')">Price Descending</button>
          <button ngbDropdownItem (click)="onSortChange('id,asc')">Old to new</button>
          <button ngbDropdownItem (click)="onSortChange('id,desc')">New to old</button>
          <button ngbDropdownItem (click)="onSortChange('title,asc')">Title Alphabetically</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <table datatable class="table-hover">
        <tbody>

          <tr *ngFor="let book of bookList">
          <td>
            <div class="row" style="margin-bottom: 30px;">
              <div class="col-md-3">
                <a (click)="onSelect(book)" style="cursor:pointer;">
                  <img src="../../../assets/image/book{{book.id}}.jpg" class="img-fluid"  />
                </a>
              </div>
              <div class="col-md-9">
                <h4 (click)="onSelect(book)" style="cursor:pointer;">{{book.title}}
                </h4>
                <span>{{book.publicationDate}}</span>
                <p>{{book.author}}</p>
                <p>{{book.numberOfPages}} pages</p>
                <a (click)="onSelect(book)"><span style="font-size: x-large; color:#db3208">$<span>{{book.ourPrice | number : '1.2-2'}}</span></span></a>
                <span style="text-decoration:line-through;"></span>
                <p>{{book.description | slice:0:500}}</p>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
