<div class="container">
  <div class="row">
    <div class="col-12" style="background-image: url(../../../assets/image/wood.png);">
      <h2 class="section-headline"><span>Book List</span></h2>
      <img src="../../../assets/image/logo.png" class="rounded float-left" style="padding: 0%; z-index:1;" />
    </div>
  </div>

  <form (ngSubmit)="onSearchByTitle()" class="form-inline">
    <div class="form-group">
      <input type="text" name="searcyByTitle" [(ngModel)]="keyword" class="form-control" placeholder="Book Title" />
    </div>
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
  </form>

  <button (click)="onFilterByCategory()">Filter by category</button>
  <input [(ngModel)]="category" placeholder="Enter category">


  <div class="row" style="margin-top: 30px;">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <table datatable class="table-hover" >
        <thead>
        <tr>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <label for="sort">Sort by Price: </label>
          <label for="sort">Sort by: </label>
          <select id="sort" (change)="onSortChange($event)">
            <option value="" selected>Select Option</option>
            <option value="ourPrice,asc">Price Ascending</option>
            <option value="ourPrice,desc">Price Descending</option>
            <option value="id,asc">ID Ascending</option>
            <option value="id,desc">ID Descending</option>
            <option value="title,asc">Title Alphabetically</option>
          </select>
          <tr *ngFor = "let book of bookList">
          <td>
            <div class="row" style="margin-bottom: 30px;">
              <div class="col-md-3">
                <a (click)="onSelect(book)" style="cursor:pointer;">
                  <img src="../../../assets/image/book{{book.id}}.jpg" class="img-fluid"  />
                </a>
              </div>
              <div class="col-md-9">
                <h4 (click)="onSelect(book)" style="cursor:pointer;">{{book.title}}
                </h4>
                <span>{{book.publicationDate}}</span>
                <p>{{book.author}}</p>
                <p>{{book.numberOfPages}} pages</p>
                <a (click)="onSelect(book)"><span style="font-size: x-large; color:#db3208">$<span>{{book.ourPrice | number : '1.2-2'}}</span></span></a>
                <span style="text-decoration:line-through;"></span>
                <p>{{book.description | slice:0:500}}</p>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

