body{
    margin: 0;
  }
  
  .container{
    width: 90%;
    margin: auto;
  }
  
  mat-form-field{
    width: 100%;
  }
  
  mat-select{
    width: 100%;
  }
  
  mat-slide-toggle{
    width: 100%;
  }