<div>
  <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">BookStore</a>
    <div class="navbar-nav mr-auto">
    
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div> -->

  <!-- <div class="container-fluid"> -->
    <!-- <br />
    <a [routerLink]="['/login']" class="btn btn-primary">Login</a> &nbsp;
    <a [routerLink]="['/sign-up']" class="btn btn-primary">Sign Up</a> -->
    <!-- <br /> -->
    <router-outlet></router-outlet>
  <!-- </div> -->
</div>
